<form action="https://formspree.io/stefan@skoegl.net"
	method="POST">
	<input type="text" name="name">
	<input type="text" name="anreise">
	<input type="text" name="abreise">
	<select name="zimmer">
		<option value="klein">Wohnung mit einem Zimmer (3 Personen)</option>
		<option value="gross">Wohnung mit beiden Zimmern (5 Personen)</option>
	</select>
	<input type="email" name="_replyto">
	<input type="hidden" name="_next" value="https://site.io/thanks.html" />
	<input type="hidden" name="_subject" value="Ferienwohnung Anfrage" />
	<input type="hidden" name="_language" value="de" />
	<input type="submit" value="Send">
</form>

