<form action="https://formspree.io/stefan@skoegl.net"
	method="POST">
  <fieldset>
    <p>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" placeholder="Vor und Nachname">
    </p>

    <p>
      <label for="anreise">Anreise</label>
      <input type="text" name="anreise" id="anreise">
    </p>

    <p>
      <label for="abreise">Abreise</label>
      <input type="text" name="abreise" id="abreise">
    </p>

    <p>
      <label for="zimmer">Zimmer</label>
      <select name="zimmer" id="zimmer">
        <option value="klein">Wohnung mit einem Zimmer (3 Personen)</option>
        <option value="gross" selected>Wohnung mit beiden Zimmern (5 Personen)</option>
      </select>
    </p>

    <p>
      <label for="email">E-Mail Adresse</label>
      <input type="email" name="_replyto" id="email">
    </p>

	<input type="hidden" name="_next" value="{{ site.url }}/anfrage" />
	<input type="hidden" name="_subject" value="Ferienwohnung Anfrage" />
	<input type="hidden" name="_language" value="de" />

    <p>
      <button type="submit">Senden</button>
    </p>

  </fieldset>
</form>

