<p><strong>Im <a href="#verfuegbarkeit">Verfügbarkeit-Kalender</a> finden Sie alle stets aktualisierten freie Termine.</strong></p>

<form action="https://formspree.io/josefkaintz@hotmail.com"
	method="POST">
  <fieldset>
    <p>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" placeholder="Vor und Nachname">
    </p>

    <p>
      <label for="anreise">Anreise</label>
      <input type="text" name="anreise" id="anreise">
    </p>

    <p>
      <label for="abreise">Abreise</label>
      <input type="text" name="abreise" id="abreise">
    </p>

    <p>
      <label for="wohnung">Zimmer</label>
      <select name="wohnung" id="wohnung">
        <option value="gross" selected>Ganze Wohnung (5 Personen)</option>
        <option value="klein">Verkleinerte Wohnung (3 Personen; nur Vor- bzw Nachsaison)</option>
      </select>
    </p>

    <p>
      <label for="erwaschsene">Erwachsene</label>
      <input type="text" name="erwaschsene" id="erwaschsene">
    </p>

    <p>
      <label for="kinder-bis-10">Kinder (bis 10 Jahren)</label>
      <input type="text" name="kinder" id="kinder">
    </p>

    <p>
      <label for="kinder-bis-14">Kinder (zwischen 10 und 14 Jahren)</label>
      <input type="text" name="kinder" id="kinder">
    </p>

    <p>
      <label for="email">E-Mail Adresse</label>
      <input type="email" name="_replyto" id="email">
    </p>

	<input type="hidden" name="_next" value="{{ site.url }}/anfrage" />
	<input type="hidden" name="_subject" value="Ferienwohnung Anfrage" />
	<input type="hidden" name="_language" value="de" />

    <p>
      <button type="submit">Senden</button>
    </p>

  </fieldset>
</form>

