/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    font-family: 'Hind', Verdana, sans-serif;
    font-weight: 400;
    color: #333;
}

header a {
    text-decoration: none;
}

h1 {
    text-transform: uppercase;
    font-size: 3.2em !important;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2.5em !important;
    }
}

h1, h2, h3 {
    font-size: 2em;
    font-weight: 400 !important;
    color: #222;
    text-align: center;
    margin-bottom: 0;
}

img#header {
    max-width: 100%;
}

hr {
    width: 25%;
    margin-top: 25px;
    margin-bottom: .5em;
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

header, main, footer {
}

p {
    padding: 0 1em 0 1em;
}

ul {
    text-align: left;
}

body {
    text-align: center;
background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url(/assets/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    scroll-behavior: smooth;
}

iframe {
    max-width: 100%;
}

table {
    width: 100%;
    table-layout: fixed;
}

table td {
    width: 25%;
}

@media (max-width: 600px) {
    table {
        text-align: center;
    }
    table th {
        display: none;
    }
    table td {
        display: block;
        width: 100%;
    }

    table td:first-child {
        margin-top: .5em;
        font-weight: bold;
    }

	table td:nth-of-type(2):after {
        content: "Größe: ";
    }

	table td:nth-of-type(3):after {
		content: " Personen";
    }

    table td:nth-of-type(4):before {
        content: "Hauptsaison: ";
    }

    table td:nth-of-type(5):before {
        content: "Nebensaison: ";
    }
}

form label {
    display: block;
    text-align: left;
}

fieldset {
    padding: 0 1em 0 1em;
    margin-bottom: 1em;
    border: none;
}

input, select, textarea, button {
    box-sizing: border-box;
    width: 100%;
}

/* color: #FFC644; */

#wrapper {
    display: block;
    max-width: 45em;
    display: inline-block;

    background-color: white;
/*    box-shadow: 0px 0px 5px 6px #ccc;*/
}


.gallery div {
    height: 200px;
    display: inline-block;
    margin: 0 .5em 0 .5em;
}

.gallery div img {
    max-height: 100%;
}


nav a {
    color: black;
}

nav ul {
    display: inline;
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li:after {
    content: " · ";
}

nav ul li:last-child:after {
    content: "";
}
